// fonts

$font-family: "Inter", Arial, sans-serif;

// background color
$bg-color-container: #F4F4F4;
$bg-color-footer: #EFEFEF;
$bg-color-card: #F4F4F4;

// text color
$text-color-title: #151515;
$text-color-text: #222222;

// buttons
$btn-text-color: #fff;
$btn-bg-color: #24B47E;
$btn-bg-color-hover: #319E75;

$btn-width-desktop: 180px;
$btn-height-desktop: 50px;

$btn-width-mobile: 284px;
$btn-height-mobile: 46px;

$btn-border-radius: 4px;

// media
$mobile-width: 950px