// fonts

$font-family: "Inter", Arial, sans-serif;

// background color
$bg-color-container: #F4F4F4;
$bg-color-footer: #EFEFEF;
$bg-color-card: #F4F4F4;

$bg-color-container-dark: #333333;
$bg-color-footer-dark: #2F2F2F;

// text color
$text-color-title: #151515;
$text-color-text: #222222;

$text-color-title-dark: #ffffff;
$text-color-text-dark: #E6E6E6;
$text-color-secondary-dark: #E5E5E5;

// buttons
$btn-text-color: #fff;
$btn-bg-color: #24B47E;
$btn-bg-color-hover: #319E75;

$btn-width-desktop: 180px;
$btn-height-desktop: 50px;

$btn-width-mobile: 284px;
$btn-height-mobile: 46px;

$btn-border-radius: 4px;

// media
$mobile-width: 1060px