.footer {
  font-family: $font-family;
  background-color: $bg-color-footer;
  position: relative;

  &_dark {
    background-color: $bg-color-footer-dark;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 80px 0 60px 120px;
  }

  &__title {
    display: block;
    width: 229px;
    margin: 0 0 50px;

    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $text-color-title;

    &_dark {
      color: $text-color-title-dark;
    }
  }

  &__copyright {
    margin: 0;
    padding: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #cfcfcf;

    &_dark {
      color: #565656;
    }
  }

  &__invisible-checkbox {
    display: none;
  }
}

@media screen and (max-width: $mobile-width) {
  .footer {
    position: relative;

    &__container {
      padding: 60px 0 25px;
    }

    &__title {
      margin: 0 auto 40px;
      width: calc(100% - 2 * 18px);

      font-size: 24px;
      line-height: 32px;
    }

    &__copyright {
      margin: 0 auto;
      width: calc(100% - 2 * 18px);
    }

    &__logo {
      position: absolute;
      right: 16px;
      bottom: 16px;
      width: 38px;
      height: 38px;
      background-image: url(../images/footer-logo.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
