.intro {
  font-family: $font-family;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding-left: 120px;

  &__title {
    margin: 66px 0 50px;
    padding: 0;
    width: 460px;

    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $text-color-title;

    &_dark {
      color: $text-color-title-dark;
    }
  }

  &__text {
    margin: 0 0 52px 0;
    padding: 0;
    width: 460px;
    text-align: left;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $text-color-text;
    opacity: 0.7;

    &_dark {
      color: $text-color-text-dark;
    }
  }

  &__media-desktop {
    box-sizing: border-box;
  }

  &__media-mobile {
    box-sizing: border-box;
    display: none;
  }

  &__btn-details {
    margin: 0;
    border: 0;
    border-radius: $btn-border-radius;
    width: $btn-width-desktop;
    height: $btn-height-desktop;
    color: $btn-text-color;
    background-color: $btn-bg-color;

    background: linear-gradient(to left, #319e75 50%, #24b47e 50%);
    background-position-x: 0%;
    transition: background-position 0.2s ease-in;
    background-size: 200%;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;

    cursor: pointer;
  }

  &__btn-details:hover {
    background-position-x: -100%;
  }

  &__bike-text {
    margin: 167px 0 0;
    padding: 0;

    color: $text-color-title;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    &_dark {
      color: $text-color-title-dark;
    }
  }

  &__bike-line {
    display: inline-block;
    width: 132px;
    margin-left: 30px;
    border: 1px solid #d7d4d4;
    vertical-align: middle;
  }

  &__bike-fix-card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    z-index: 1;
  }

  &__bike-image {
    position: sticky;
    top: 347px;
    width: 340px;
    height: 260px;
    margin: 0 0 79px 260px;
    padding: 20px 50px;
    background-color: #f4f4f4;
    border-radius: 20px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.08);
  }

  &__image {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: $mobile-width) {
  .intro {
    justify-content: center;
    padding: 0;

    &__content {
      text-align: center;
    }

    &__title {
      margin: 40px 18px;
      width: calc(284px - 2 * 18px);
      text-align: left;
      font-size: 32px;
      line-height: 40px;

      letter-spacing: -0.5px;
    }

    &__text {
      width: calc(100% - 2 * 18px);
      max-width: 610px;
      margin: 40px auto;
      font-size: 12px;
      line-height: 18px;
    }

    &__media-desktop {
      display: none;
    }

    &__media-mobile {
      display: block;
      width: calc(100% - 2 * 18px);
      padding-left: 30px;
      margin: 0 auto;
      max-width: 610px;
      min-width: 254px;
    }

    &__btn-details {
      width: calc(100% - 2 * 18px);
      margin: 0 auto 40px;
    }

    &__bike-text {
      display: none;
    }

    &__bike-line {
      display: none;
    }

    &__bike-fix-card {
      justify-content: flex-start;
      top: 385px;
      left: 20px;
      // left: calc(15% - 20px);

    }

    &__bike-image {
      position: relative;
      width: 180px;
      padding: 10px 26px;
      margin: 0;
      height: 138px;
      top: 0;
    }
  }
}
