.surface-slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 60px 120px;
  font-family: $font-family;

  &__title {
    margin: 0 0 50px;
    padding: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $text-color-title;

    &_hidden {
      display: none;
    }

    &_dark {
      color: $text-color-title-dark;
    }
  }

  &__text {
    width: 460px;
    margin: 0 0 80px;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $text-color-text;
    opacity: 0.7;

    &_hidden {
      display: none;
    }

    &_dark {
      color: $text-color-text-dark;
    }
  }

  &__media-container {
    position: relative;
    display: flex;
    margin: 0 0 50px;
    overflow: hidden;
  }

  &__image-first {
    object-fit: contain;
    max-width: 100%;
    margin-right: 40px;
  }

  &__image-second {
    object-fit: contain;
    max-width: 100%;
  }

  &__green-box {
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100px;
    height: 40px;
    // z-index: 1;
    background-image: url(../../images/green-box.svg);
    background-position: left;
    background-repeat: no-repeat;
  }

  &__line {
    position: absolute;
    left: 16px;
    bottom: 12px;
    width: 50px;
    height: 16px;
    background-position: left;
    background-repeat: no-repeat;

    &_type_road {
      background-image: url(../../images/line-road.svg);
    }

    &_type_gravel {
      bottom: 6px;
      background-image: url(../../images/line-gravel.svg);
    }

    &_type_tt {
      bottom: 3px;
      background-image: url(../../images/line-tt.svg);
    }
  }

  &__action-area {
    position: static;
  }

  &__btn {
    border: 0;
    border-radius: 50px;
    @include bg-image(50px, 50px);
    margin-right: 20px;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
  }

  &__btn:last-child {
    margin-right: 0;
  }

  &__btn:hover {
    opacity: 0.6;
  }

  &__btn-left {
    background-color: #ebebeb;
    background-image: url(../../images/arrow-left.svg);
    &_dark {
      background-color: #434343;
      background-image: url(../../images/arrow-left-dark.svg);
    }
  }

  &__btn-right {
    background-color: #ebebeb;
    background-image: url(../../images/arrow-right.svg);
    &_dark {
      background-color: #434343;
      background-image: url(../../images/arrow-right-dark.svg);
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .surface-slider {
    position: relative;
    padding: 0 0 40px;

    &__title {
      order: 1;
      width: calc(100% - 2 * 18px);
      border-top: 1px solid #e3e3e3;
      margin: 0px auto 40px;
      padding-top: 40px;

      font-size: 32px;
      line-height: 40px;
    }

    &__text {
      order: 3;
      width: calc(100% - 2 * 18px);
      margin: 40px auto 0px;

      font-size: 12px;
      line-height: 18px;
    }

    &__media-container {
      order: 2;
      width: calc(100% - 2 * 18px);
      max-width: 650px;
      margin: 0 auto;
    }

    &__image-first {
      width: 100%;
    }

    &__image-second {
      display: none;
    }

    &__action-area {
      position: absolute;
      right: 17px;
      top: 46px;
    }

    &__btn {
      border-radius: 30px;
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }

    &__btn-left,
    &__btn-right {
      background-size: 7px 16px;
    }
  }
}
